body {
    background-image: linear-gradient(rgb(255, 255, 255), rgb(67, 167, 224));
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    color: rgb(0, 0, 0);
    font-size: 50;
    text-align: center;
    font-family: Arial;
}

h2 {
    color: rgb(0, 0, 0);
    font-size: 35;
    text-align: center;
    font-family: Arial;
}

#bloc_gauche {
    position: absolute;
    width: 45.5%;
    height: auto;
    left: 3%;
}

#bloc_gauche_2 {
    position: absolute;
    width: 45.5%;
    height: auto;
    left: 3%;
}

.card_projet_1 {
    position: relative;
    margin-top: 3%;
    border-radius: 50px;
    transition: all .3s;
    font-size: 22;
}

.card_projet_2 {
    position: center;
    padding: 5px;
    color: rgb(0, 0, 0);
    transition: all .2s;
    border-radius: 50px;
    padding: 3%;
    font-family: Arial;
    font-size: 22;
}

.card_projet_2:hover {
    transform: scale(0.98);
    border-radius: 50px;
    background-image: url(background.jpeg);
    color: rgb(0, 0, 0);
}

.card_projet_1:hover {
    background-image: linear-gradient(63.1deg, rgba(5, 23, 111, 1) 16.4%, rgba(24, 95, 240, 1) 64.5%);
    box-shadow: 0px 0px 60px 1px blue;
}

.card_equipe_1 {
    position: absolute;
    margin-top: 3%;
    border-radius: 50px;
    transition: all .3s;
    font-size: 22;
}

.card_equipe_2 {
    position: center;
    padding: 5px;
    color: rgb(0, 0, 0);
    transition: all .2s;
    border-radius: 50px;
    padding: 3%;
    font-family: Arial;
    font-size: 22;
}

.card_equipe_2:hover {
    transform: scale(0.98);
    border-radius: 50px;
    background-color: black;
    background-image: url(background.jpeg);
    background-repeat: no-repeat;
    background-position: right top;
    color: rgb(0, 0, 0);
}

.card_equipe_1:hover {
    background-image: linear-gradient(63.1deg, rgba(5, 23, 111, 1) 16.4%, rgba(24, 95, 240, 1) 64.5%);
    box-shadow: 0px 0px 60px 1px blue;
}

.link {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
}


#bloc_droit {
    position: absolute;
    width: 45.5%;
    height: auto;
    right: 3%;
}

#bloc_droit_2 {
    position: absolute;
    width: 45.5%;
    height: auto;
    right: 3%;
}

.card_rapport1 {
    position: relative;
    border-radius: 50px;
    transition: all .3s;
    font-size: 22;
}

.card_rapport2 {
    position: center;
    width: auto;
    height: auto;
    margin-top: auto;
    padding: 10px;
    border-radius: 50px;
    color: rgb(0, 0, 0);
    font-family: Arial;
    font-size: 22;
    transition: all .2s;
}

.card_rapport2:hover {
    transform: scale(0.98);
    background-color: black;
    background-image: url(background.jpeg);
    background-repeat: no-repeat;
    background-position: right bottom;
    border-color: transparent;
    color: rgb(0, 0, 0);
}

.card_rapport1:hover {
    background-image: linear-gradient(63.1deg, rgba(5, 23, 111, 1) 16.4%, rgba(24, 95, 240, 1) 64.5%);
    box-shadow: 0px 0px 60px 1px blue;
}

.card_download1 {
    position: center;
    border-radius: 50px;
    transition: all .3s;
    font-size: 22;
}

.card_download2 {
    position: center;
    width: auto;
    padding: 10px;
    height: auto;
    margin-top: 3%;
    border: 7px solid;
    border-radius: 50px;
    font-family: Arial;
    font-size: 22;
    color: rgb(0, 0, 0);
    border: rgba(255, 255, 255, 0);
    transition: all .2s;
}

.card_download2:hover {
    transform: scale(0.98);
    background-image: url(background.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    border-color: transparent;
    color: rgb(0, 0, 0);
}

.card_download1:hover {
    background-image: linear-gradient(63.1deg, rgba(5, 23, 111, 1) 16.4%, rgba(24, 95, 240, 1) 64.5%);
    box-shadow: 0px 0px 60px 1px blue;
}

#bloc_centre {
    position: relative;
    position: center;
    width: 95%;
    top: 330px;
    height: auto;
    left: 3%;
    right: 3%;
}

#mon-bouton {
    position: absolute;
    top: 98%;
    left: 5%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgb(46, 46, 46);
    border: #00000000;
}

.card_yazid_1 {
    position: relative;
    margin-top: 3%;
    border-radius: 50px;
    transition: all .3s;
    font-size: 22;
}

.card_yazid_2 {
    position: center;
    padding: 5px;
    color: rgb(0, 0, 0);
    transition: all .2s;
    border-radius: 50px;
    padding: 3%;
    font-family: Arial;
    font-size: 22;
}

.card_yazid_2:hover {
    transform: scale(0.98);
    border-radius: 50px;
    background-image: url(background.jpeg);
    color: rgb(0, 0, 0);
}

.card_yazid_1:hover {
    background-image: linear-gradient(63.1deg, rgba(5, 23, 111, 1) 16.4%, rgba(24, 95, 240, 1) 64.5%);
    box-shadow: 0px 0px 60px 1px blue;
}

.card_maxime_1 {
    position: relative;
    margin-top: 3%;
    border-radius: 50px;
    transition: all .3s;
    font-size: 22;
}

.card_maxime_2 {
    position: center;
    padding: 5px;
    color: rgb(0, 0, 0);
    transition: all .2s;
    border-radius: 50px;
    padding: 3%;
    font-family: Arial;
    font-size: 22;
}

.card_maxime_2:hover {
    transform: scale(0.98);
    border-radius: 50px;
    background-image: url(background.jpeg);
    color: rgb(0, 0, 0);
}

.card_maxime_1:hover {
    background-image: linear-gradient(63.1deg, rgba(5, 23, 111, 1) 16.4%, rgba(24, 95, 240, 1) 64.5%);
    box-shadow: 0px 0px 60px 1px blue;
}

.card_ugo_1 {
    position: relative;
    border-radius: 50px;
    transition: all .3s;
    font-size: 22;
}

.card_ugo_2 {
    position: relative;
    width: auto;
    height: auto;
    margin-top: auto;
    padding: 10px;
    border-radius: 50px;
    color: rgb(0, 0, 0);
    font-family: Arial;
    font-size: 22;
    transition: all .2s;
}

.card_ugo_2:hover {
    transform: scale(0.98);
    background-color: black;
    background-image: url(background.jpeg);
    background-repeat: no-repeat;
    background-position: right bottom;
    border-color: transparent;
    color: rgb(0, 0, 0);
}

.card_ugo_1:hover {
    background-image: linear-gradient(63.1deg, rgba(5, 23, 111, 1) 16.4%, rgba(24, 95, 240, 1) 64.5%);
    box-shadow: 0px 0px 60px 1px blue;
}

.card_jb_1 {
    position: relative;
    border-radius: 50px;
    transition: all .3s;
    font-size: 22;
}

.card_jb_2 {
    position: relative;
    width: auto;
    height: auto;
    margin-top: auto;
    padding: 10px;
    border-radius: 50px;
    color: rgb(0, 0, 0);
    font-family: Arial;
    font-size: 22;
    transition: all .2s;
}

.card_jb_2:hover {
    transform: scale(0.98);
    background-color: black;
    background-image: url(background.jpeg);
    background-repeat: no-repeat;
    background-position: right bottom;
    border-color: transparent;
    color: rgb(0, 0, 0);
}

.card_jb_1:hover {
    background-image: linear-gradient(63.1deg, rgba(5, 23, 111, 1) 16.4%, rgba(24, 95, 240, 1) 64.5%);
    box-shadow: 0px 0px 60px 1px blue;
}

::-webkit-scrollbar {
    width: 0;
}